body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.centralizado {
    width: 100%;
}

h1 {
    margin: 0.5em 0;
    font-size: 2.5em;
}

p {
    margin: 0.5em 0;
}

img {
    width: 16px;
    height: 16px;
  }


.menu-button {
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    color: #d4d4d4;
    left: 0;
    margin: 1em;
    z-index: 1000;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.863);
    border: none;
    cursor: pointer;
    font-size: large;
}

.menu-button img {
    width: 24px;
    height: 24px;
}

.dropdown {
    position: fixed; 
    top: 0;
    right: 0;
    margin: 1em;
    z-index: 1000;
    border: none; 
}
.dropdown select {
    padding: 0.5em;
    font-size: small;
    background-color: #1e1e1e;
    color: #d4d4d4;
    border: none; 
    border-radius: 5px; 
    outline: none; 
}

.dropdown select:hover {
    cursor: pointer;
    background-color: #1e1e1e;
    color: #d4d4d4;
}

.tecs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
    font-size: medium;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1e1e1e;
    color: #d4d4d4;
    text-align: center;
    padding: 0.5em 0;
    font-size: small;
}